body{

background-color: #1C1917 ;


}

 
 .card {
    background-color: white;
    width: 1300px;
    height: 300px;
    border-radius: 10px;
    padding: 10px/*top*/ 50px/*right*/ 90px/*bottom*/ 0px/*left*/;
    transition: 0.7s ease;
    margin-left: 500px;
    margin-top: 100px;
   display: grid;
   grid-template-columns: auto auto;


 }



 .side_info{
    margin-top: 50px;
    margin-left: 50px;
  }
 
  .icon{
     text-align: center;
  }
  .side_img img {
 
     border-radius: 3%;
     width: 430px; 
     height: 116%; 
     
   
 }
 
 
   
  .info{
     
    font-size: 20px;
    position: relative;
    
  }
  .info i {
     margin-right: 0px;
     font-size: 1.5em;
     color: #EC4899;
   }
  .info h3{
    
     font-size: 100px;
     font-weight: 700;
     margin: 10px;
  }
 
  .button_dist{
    
    position: relative;
     left: 160px;
     
     padding-bottom: px;
  }
 
  .button_dist h4{
    position: relative;
    top: 0px;
   
 
 
  }
 
  .button130{
   
   padding: 30px 80px;
   background-color: black;
   color: #fff;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   transition: 0.3s ease;
   text-decoration: none;
   position: relative;
   right: 200px;
   top: 20px;
 
  
}

  .booking-btn {
   position: relative;
   left: 100px;
     
     padding: 30px 90px;    
     background-color: #EC4899;
     color: white;
     border: none;
     border-radius: 5px;
     cursor: pointer;
     transition: 0.3s ease;
     text-decoration: none;
   
   
    }
   





 

::-webkit-left-side
{
width: 5px;


}
::-webkit-formation-thumb{

background: white ;

}


        .left-side{



flex-direction: column;


background-color:#D9D9D9 ;

width: 300px;

padding: 20px;
box-sizing: border-box;
margin-top: 0;
position: fixed;
height: 100%;
overflow-y: auto;
flex-direction: column;
display: flex;
}

/* height: 100%; 
  width: 0; 
  position: relative;
  z-index: 1; 
  top: 0; 
  left: 0;
  background-color: #111; 
  overflow-x: hidden; 
  padding-top: 60px; 
  transition: 0.5s; */

        

        .formation{
            
          
         
           right: 100px; ;
            border: 50px ;
            text-align: center;
            
            }
            .button1{
              
              border: none; 
              color: white;
              padding: 15px 32px;
              text-align: center;
              text-decoration: none;
              display: inline-block;
              font-size: 17px;
              font-variant-position: center ;
            }
            .button_2 {
            
            
            margin-top: 30px;
            margin-bottom: 10px;
                /* margin: 100px;
                margin-left: 180px;
                border-left: 5px; */
                text-align: center;
                font-size: large;
            }
            .radiobuttons{

margin-top: 30px;



            }
           

            .location{

margin-top: 10px;
margin-bottom: 10px;


            }

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
	margin: 10;
	padding: 10;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

:root {
	--blue: #0071FF;
	--light-blue: #B6DBF6;
	--dark-blue: #005DD1;
	--grey: #f2f2f2;
}

body {
	display: flex;
	
}


.container {
	max-width: 400px;
	width: 100%;
	background: #fff;
	padding: 30px;
	border-radius: 30px;
 
}
.img-area {
	position: relative;
	width: 100%;
	height: 240px;
	background: var(--grey);
	margin-bottom: 30px;
	border-radius: 15px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.img-area .icon {
	font-size: 100px;
}
.img-area h3 {
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 6px;
}
.img-area p {
	color: #999;
}
.img-area p span {
	font-weight: 600;
}
.img-area img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	z-index: 100;
}
.img-area::before {
	content: attr(data-img);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .5);
	color: #fff;
	font-weight: 500;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	pointer-events: none;
	opacity: 0;
	transition: all .3s ease;
	z-index: 200;
}
.img-area.active:hover::before {
	opacity: 1;
}
.select-image {
	display: block;
	width: 100%;
	padding: 16px 0;
	border-radius: 15px;
	background:#EC4899;
	color: #fff;
	font-weight: 500;
	font-size: 16px;
	border: none;
	cursor: pointer;
	transition: all .3s ease;
}
.select-image:hover {
	background: pink;
}
.add-event {
	display: block;
	width: 100%;
	padding: 16px 0;
	border-radius: 15px;
	background:#EC4899;
	color: #fff;
	font-weight: 500;
	font-size: 16px;
	border: none;
	cursor: pointer;
	transition: all .3s ease;
}
.add-event:hover {
	background: pink;
}

/* .date{
background-color: var(--dark-blue);


} */
input[type="date"]
{
   background:white;
   padding: 15px;
   margin-bottom: 15px ;
   border-radius: 15px;
   border: none;
   color:#EC4899;
}
/* .date:hover{

   background: white;



} */



input[type="text"]
{
   background:#f2f2f2;
   padding: 15px;
   margin-bottom: 15px ;
   transition: all .3s ease;
   border-radius: 15px;
   border:none; 
   
}


input[type="text"]:hover
{
   background:white;
   padding: 15px;
   margin-bottom: 15px ;
   transition: all .3s ease;
   border-radius: 15px;
}


.button_2{

   
   padding: 15px;
   margin-bottom: 15px ;
   transition: all .3s ease;
   border-radius: 39px;
   border: none;


}
textarea
{
   background-color:white;
   padding: 15px;
   margin-bottom: 15px ;
   transition: all .3s ease;
   border-radius: 15px;
   width:100%;
   border: 1px solid  ;

}
.radiobuttons{
   display: inline-flex;
overflow: hidden;
 border-radius: 15px;

box-shadow: 0 0 5px  rgb(0,0,0 ,o.25);

}
.radio{

display: none;

}
.label{


   padding: 8px ;

font-size: 14px;
padding: 8px 14px;
font-family: sans-serif;
color: white ;
background:#EC4899;
cursor: pointer;
transition:0.1s ;

}
.radio{

display: none;

}
.label:not(:last-of-type){
border-radius:1px solid #FFC0CB;




}
.label:hover{
background-color: #f2f2f2;
   transition: all .3s ease;

}
.radio:checked +.label {

background: black;
}


.header {
   position: absolute;
   font-size: 30px;
   font-weight: bold;
   color: white; 
   top: 10px;
   right: 650px;
}





.tickets1{
   display: flex;
   color: white;
   padding: 8px 0px;

}

.tickets2{
   display: flex;
   color: white;
   padding: 8px 0px;
}

.tickets3{
   display: flex;
   color: white;
   padding: 8px 0px;
}


#numTickets{
   width: 120px;
   border-radius: 5px;
   padding: 6px 1px;
   border: none;
   position: relative;
   left: 20px;
   
}

#priceDropdown{
   width: 60px;
   padding: 9px 1px;
   border-radius: 5px;
   border: none;
   position: relative;
   left: 40px;
   
}

#description{
   border: none;
}

#lo{
   color: white;
   position: relative;
   bottom:75px;
   left: 330%;
   font-size: 20px;
   font-weight: lighter;
   cursor:pointer;

}

#lo:hover{
   border-color: #EC4899;
   border-style:solid;
   color: #EC4899;
}