html,
body {
   padding: 0%;
   margin: 0%;
   background-color: #1C1917;
}

.navbar {
   background-color: #FFFFFF;
   display: flex;
   height: 37px;
   border-radius: 50px;
   margin: 11px;
   position: fixed;
   width: 99%;


}

.material-symbols-outlined {
   position: absolute;
   top: 7px;
   left: 47%;



}



.left-A a {
   justify-content: space-between;
   padding: 10px;
   color: black;
   text-decoration: none;
   font-family: "Open Sans", sans-serif;
   font-size: 15px;
   position: relative;
   left: 20%;
   top: 6px;

}



.R-A a {
   justify-content: space-between;
   color: black;
   text-decoration: none;
   font-family: "Open Sans", sans-serif;
   font-size: 15px;
   position: relative;
   left: 1500px;
   top: 6px;

}



.LOGO h1 {
   color: black;
   text-decoration: none;
   font-family: "Open Sans", sans-serif;
   font-size: 17px;


   float: none;
   position: absolute;
   top: 7px;
   left: 50%;
   transform: translate(-50%, -50%);
}





.form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-size: cover;
 
  }

  .form form {
    width: 300px; 
    height: 400px;
    padding: 100px;
    border: 1px solid #150e0e;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; 
    background-color: white; 
  }
 
  .form h1 {
    color: #EC4899;
    margin-bottom: 30px;
    margin-top: 0; 
    
  }
  .form div {
    margin-bottom: 65px;
  }
  
  .form input[type="text"],
  .form input[type="password"],
  .form input[type="submit"] {
    width: 100%;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #000000;
    color: #fff;
    font-size: 15px;
  }
  
  .form input[type="submit"] {
    background-color:#EC4899 ;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
 .error{
    color:red;
 }



