@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
	--c-gray-900: #1C1917;
	--c-gray-800: #1C1917;
	--c-gray-700: #1C1917;
	--c-gray-600: #1C1917;
	--c-gray-500: white;
	--c-gray-400: white;
	--c-gray-300: white;
	--c-gray-200: #f1f1f1;
	--c-gray-100: #ffffff;


	--c-white: var(--c-gray-100);

	--c-text-primary: var(--c-gray-100);
	--c-text-secondary: var(--c-gray-200);
	--c-text-tertiary: var(--c-gray-500);
}

body {
	line-height: 1.5;
	min-height: 100vh;
	font-family: "Be Vietnam Pro", sans-serif;
	background-color: var(--c-gray-900);
	color: var(--c-text-primary);
	display: flex;
	justify-content: center;
    padding-right: 70%;
}







.navigation a {
	color: inherit;
    width: 270px;
}





.app {
	min-height: 80vh;
	width: 95%;
	max-width: 1800px;
	background-color: var(--c-gray-800);
	padding: 1vw 2vw 10vw;
	display: flex;
	flex-direction: column;
}






.app-body {
	height: 100%;
	display: grid;
	grid-template-columns: minmax(min-content, 175px) minmax(max-content, 1fr) minmax(
			min-content,
			400px
		);
      

	column-gap: 4rem;
	padding-top: 2.5rem;

}

.app-body-navigation {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	@media (max-width: 1200px) {
		display: none;
	}
}


.footer {
	margin-top: auto;
	h1 {
		font-size: 1.5rem;
		line-height: 1.125;
		display: flex;
		align-items: flex-start;
		small {
			font-size: 0.5em;
			margin-left: 0.25em;
		}
	}

	div {
		border-top: 1px solid var(--c-gray-600);
		margin-top: 1.5rem;
		padding-top: 1rem;
		font-size: 0.75rem;
		color: var(--c-text-tertiary);
	}
}

.logo {
	display: flex;
	align-items: center;
	padding-bottom: 1rem;
	padding-top: 1rem;
	
	
}

.logo-icon img {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 32px;
	height: 32px;
}

.logo-title {
	display: flex;
	flex-direction: column;
    font-size: 50px;
	line-height: 1.25;
	margin-left: 0.75rem;

	
}

.navigation {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	color: var(--c-text-tertiary);
	a {
		display: flex;
		align-items: center;
		text-decoration: none;
		transition: 0.25s ease;
        cursor: pointer;
        font-weight: lighter;
        font-size: 35px;

		* {
			transition: 0.25s ease;
		}

		i {
			margin-right: 0.75rem;
			font-size: 1.25em;
			flex-shrink: 0;
		}

		& + a {
			margin-top: 1.25rem;
		}

		&:hover,
		&:focus {
            
			transform: translateX(4px);
			color: red;
		}
	}
}



.user-profile {
	display: flex;
	align-items: center;
	border: 0;
	background: transparent;
	cursor: pointer;
	color: white;
	transition: 0.25s ease;
    position: relative;
    left: 280%;

	&:hover,
	&:focus {
		color: var(--c-text-primary);
		span:last-child {
			box-shadow: 0 0 0 4px var(--c-gray-800), 0 0 0 5px var(--c-text-tertiary);
		}
	}

	span:first-child {
		display: flex;
		font-size: 1.125rem;
		padding-top: 1rem;
		padding-bottom: 1rem;
		border-bottom: 1px solid var(--c-gray-600);
		font-weight: 300;
	}

	span:last-child {
		transition: 0.25s ease;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 42px;
		height: 42px;
		border-radius: 50%;
		overflow: hidden;
		margin-left: 1.5rem;
		flex-shrink: 0;
	}
}



.tile {
	padding: 1rem;
	border-radius: 8px;
	background-color: var(--c-olive-500);
	color: var(--c-gray-900);
	min-height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	transition: 0.25s ease;

	&:hover {
        
		transform: translateY(-5px);
	}

	&:focus-within {
		box-shadow: 0 0 0 2px var(--c-gray-800), 0 0 0 4px var(--c-olive-500);
	}

	&:nth-child(2) {
		background-color: var(--c-green-500);
		&:focus-within {
			box-shadow: 0 0 0 2px var(--c-gray-800), 0 0 0 4px var(--c-green-500);
		}
	}
	&:nth-child(3) {
		background-color: var(--c-gray-300);
		&:focus-within {
			box-shadow: 0 0 0 2px var(--c-gray-800), 0 0 0 4px var(--c-gray-300);
		}
	}

	a {
		text-decoration: none;
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-weight: 600;

		.icon-button {
			color: inherit;
			border-color: inherit;
			&:hover,
			&:focus {
				background-color: transparent;
				i {
					transform: none;
				}
			}
		}

		&:focus {
			box-shadow: none;
		}

		&:after {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}
	}
}

.tile-header {
	display: flex;
	align-items: center;
	i {
		font-size: 2.5em;
	}

	h3 {
		display: flex;
		flex-direction: column;
		line-height: 1.375;
		margin-left: 0.5rem;
		span:first-child {
			font-weight: 600;
		}

		span:last-child {
			font-size: 0.825em;
			font-weight: 200;
		}
	}
}



.service-section-footer {
	color: var(--c-text-tertiary);
	margin-top: 1rem;
}

.search-field {
	display: flex;
	flex-grow: 1;
	position: relative;
	input {
		width: 100%;
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
		border: 0;
		border-bottom: 1px solid var(--c-gray-600);
		background-color: transparent;
		padding-left: 1.5rem;
	}

	i {
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
	}
}





.transfer-section {
	margin-top: 2.5rem;
}

.transfer-section-header {
	display: flex;
	align-items: center;
	width: 100%;
	padding-bottom: 0.75rem;
	border-bottom: 1px solid var(--c-gray-600);
	h2 {
		font-size: 1.5rem;
	}
}

















input,
select,
a,
textarea,
button {
	&:focus {
		outline: 0;
		box-shadow: 0 0 0 2px var(--c-gray-800), 0 0 0 4px var(--c-gray-300);
	}
}
















.ongoing-tickets{
padding-left: 340px;
}



 

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


.ticket {
	margin: auto;
	display: flex;
	background: white;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}



.image {
	height: 250px;
	width: 250px;
	background-image: url("../public/materials/Wegz-f.jpg");
	background-size: contain;
	opacity: 0.85;
}

.admit-one {
	position: absolute;
	color: darkgray;
	height: 250px;
	padding: 0 10px;
	letter-spacing: 0.15em;
	display: flex;
	text-align: center;
	justify-content: space-around;
	writing-mode: vertical-rl;
	transform: rotate(-180deg);
}

.admit-one span:nth-child(2) {
	color: white;
	font-weight: 700;
}

.left .ticket-number {
	height: 250px;
	width: 250px;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	padding: 5px;
}

.ticket-info {
	padding: 10px 30px;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: space-between;
	align-items: center;
}

.date {
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	padding: 5px 0;
	font-weight: 700;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.date span {
	width: 100px;
}

.date span:first-child {
	text-align: left;
}

.date span:last-child {
	text-align: right;
}

.date .june-29 {
	color: green;
	font-size: 20px;
}

.show-name {
	font-size: 32px;
	color: black;
}

.show-name h1 {
	font-size: 48px;
	font-weight: 700;
	letter-spacing: 0.1em;
	color: #4a437e;
}

.time {
	padding: 10px 0;
	color: #4a437e;
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: 10px;
	font-weight: 700;
}

.time span {
	font-weight: 400;
	color: gray;
}

.left .time {
	font-size: 16px;
}


.location {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	padding-top: 8px;
	border-top: 1px solid gray;
}

.location .separator {
	font-size: 20px;
}

.right {
	width: 180px;
	border-left: 1px dashed #404040;
}

.right .admit-one {
	color: darkgray;
}

.right .admit-one span:nth-child(2) {
	color: gray;
}

.right .right-info-container {
	height: 250px;
	padding: 10px 10px 10px 35px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.right .show-name h1 {
	font-size: 18px;
}

.barcode {
	height: 100px;
}

.barcode img {
	height: 100%;
}

.right .ticket-number {
	color: gray;
}






.animation{
    position: relative;
    left: 245%;
    bottom: 38%;
}


.Update-info{
    position: relative;
    bottom: 90%;
    left: 140%;
    
}

.Update-info input{
    border-radius: 9px;
    width: 360px; 
    height: 59px;
    
}

.Update-info button{
    margin-top: 9px;
    display: inline-block; 
    background-color: #EC4899;
    color: #E7E5E4;
    border-radius: 6px;
    width: 360px; 
    height: 59px; 
    text-align: center; 
    text-decoration: none;
}













 .content{
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 60px;
    
 }
 
 .card {
    background-color: white;
    width: 70%;
    border-radius: 10px;
    padding: 0px/*top*/ 60px/*right*/ 70px/*bottom*/ 0px/*left*/;
    transition: 0.7s ease;
    margin-top: 60px;
    position: relative;
    bottom: 14%;
    left: 29%;
    
 }

 .side_info{
   margin-top: 50px;
   color: black;
 }

.side_img img {

    border-radius: 3%;
    width: 600px; 
    height: 110%;  
}



  
 .info{
   
   font-size: 29px;
 }
 .info2 {
   
   font-size: 29px;
   position: relative;
   left: 30px;
 }





 


 
 .button_dist2{
   
   position: relative;
   left:65%;
   top: 70px;
   padding-bottom: 29px;
   
 }




  .booking-btn2 {

   display: inline-block;
   padding: 20px 90px;    
   border: none;
   border-radius: 5px;
   transition: 0.3s ease;

  
 
  }
 
  #finishbtn{
   background-color: black;
   color: white;
   
   
   
  }